@use "../variables";

.blog-listing {
  transition-property: background-color, transform, border-color, box-shadow;
  transition-duration: 0.2s;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: variables.$footer-background;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid variables.$box-border-color;
  border-radius: 2px;
  .blog-title {
    font-weight: bold;
    font-family: var(--gothic-stack);
    font-size: 1.8rem;
  }
  .blog-meta {
    font-family: var(--gothic-stack);
    color: variables.$text-color-half;
  }
  &:hover {
    box-shadow: 0 0 5px variables.$box-border-color-hover;
  }
}
a {
  .blog-listing {
    cursor: pointer;
    &:hover {
      border-color: variables.$box-border-color-hover;
      box-shadow: 0 0 5px variables.$box-border-color-hover;
      background-color: #0f0f0f;
      transform: scale(1.01);
    }
  }
}
.blog-listing-with-image {
  max-width: 1000px;
  .blog-info {
    display: inline-block;
    max-width: 810px;
    width: 100%;
    min-height: 128px;
  }
  .blog-image {
    width: 128px;
    height: 128px;
    float: left;
    margin-right: 20px;
  }
}
