.blog-listing {
  transition-property: background-color, transform, border-color, box-shadow;
  transition-duration: 0.2s;
  cursor: pointer;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: $footer-background;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid $box-border-color;
  border-radius: 2px;
  .blog-meta {
    color: $text-color-half;
  }
  &:hover {
    border-color: $box-border-color-hover;
    box-shadow: 0 0 5px $box-border-color-hover;
    background-color: #0f0f0f;
    transform: scale(1.01);
  }
}
.blog-listing-with-image {
  max-width: 1000px;
  .blog-info {
    display: inline-block;
    max-width: 810px;
    width: 100%;
  }
  .blog-image {
    width: 128px;
    height: 128px;
    float: left;
    margin-right: 20px;
  }
}
