@use "../variables";

.modal-c-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 50%;
  .modal-c {
    transform: translateY(-50%);
    max-width: 600px;
    text-align: center;
    margin: auto;
    background-color: #000000;
    border: 2px solid variables.$box-border-color;
    box-shadow: 0 0 15px variables.$box-border-color;
    border-radius: 2px;
    padding: 20px;
    .icon-header .icon-header-icon button {
      font-size: 1.8rem;
      line-height: 28px;
      background: none;
      color: #878787;
      border: none;
      padding: 0;
      margin: 0;
      &:hover {
        color: #ffffff;
      }
    }
    .modal-c-content {
      text-align: left;
      padding: 15px 0 10px;
    }
  }
}
