{
  "presets": [
    [
      "babel-preset-gatsby",
      {
        "reactRuntime": "automatic",
        "targets": {
          "browsers": ["last 2 versions", "> 0.25%", "not dead"]
        }
      }
    ]
  ]
}
