#site-navbar:not(.scrolled) {
  background-color: $navbar-background-scrolled;
  border-bottom-color: $navbar-border-color-scrolled;
  .nav-link {
    color: $navbar-text-color-scrolled-prehover !important;
  }
  .nav-link:hover,
  .nav-link.active {
    color: $navbar-text-color-scrolled !important;
  }
  .navbar-brand {
    color: $navbar-brand-color-scrolled;
  }
}
main {
  background-color: #0a0a0a;
  margin-top: $navbar-height;
  $blog-content-padding-y: 50px;
  padding-top: $blog-content-padding-y;
  padding-bottom: $blog-content-padding-y;
  #blog-content-wrapper {
    min-height: calc(
      100vh - #{$navbar-height} - #{$footer-height} -
        (2 * #{$blog-content-padding-y})
    );
    max-width: 65rem;
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-top: 15px;
    padding-bottom: 95px;
    background-color: #121212;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 5px;
    height: 100%;
    &.no-image {
      #blog-top {
        min-height: 0;
      }
    }
    #blog-top {
      min-height: 128px;
      #blog-info {
        display: inline-block;
        max-width: calc(65rem - 128px - 84px);
      }
      #blog-image {
        width: 128px;
        height: 128px;
        float: left;
        margin-right: 20px;
      }
    }
    #blog-title {
      margin-top: 0;
      font-size: xx-large;
    }
    #blog-meta {
      color: $text-color-half;
    }
    #blog-table-of-contents {
      padding: 10px;
      background-color: #202020;
      ul {
        list-style: disc;
      }
      ul li {
        margin-top: 10px;
        margin-bottom: 10px;
      }
      ul li a {
        background-color: #0a0a0a;
        padding: 5px;
        border-radius: 8px;
      }
      p {
        margin: 0;
        padding: 0;
      }
    }
    #blog-text {
      font-family: Arial, Helvetica, sans-serif;
      @mixin block {
        background-color: #202020;
        padding: 10px;
        border-top: 1px solid #606060;
        border-bottom: 1px solid #606060;
      }
      blockquote {
        @include block;
        &:not(.noquote) {
          p {
            font-style: italic;
            &:first-child::before {
              content: '"';
              display: inline;
            }
            &:last-child::after {
              content: '"';
              display: inline;
            }
          }
        }
        p {
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    #blog-end {
      position: absolute;
      color: $text-color-half;
      bottom: $blog-content-padding-y + 15px;
    }
  }
}

@media (max-width: 400px) {
  main {
    #blog-content-wrapper {
      padding-left: 5%;
      padding-right: 5%;
    }
  }
}
