@use "../variables";

main {
  margin-top: variables.$navbar-height;
  padding-left: 5%;
  padding-right: 5%;
  > hr {
    max-width: 1000px;
  }
}

.page-header {
  margin-top: variables.$navbar-height + 10px;
}
