@use "variables";

@use "sass:math";
footer {
  width: 100%;
  background-color: variables.$footer-background;
  color: variables.$footer-text-color;
  clear: both;
  height: variables.$footer-height;
  margin-top: -(variables.$footer-height);
  overflow: hidden;
}

footer .topfooter {
  border-top: 1px solid variables.$footer-border-top-color;
  height: variables.$footer-top-height;
}

footer .topfooter,
footer .bottomfooter {
  width: 100%;
}

footer .bottomfooter {
  background-color: variables.$footer-bottom-background;
  height: variables.$footer-bottom-height;
}

.bottomfooter .left-text {
  font-family: var(--gothic-stack);
  height: 100%;
  font-size: 0.9rem;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 12px;
  padding-bottom: 4px;
}

.topfooter svg {
  #an,
  #ar {
    g path:nth-child(2) {
      fill: variables.$link-color !important;
    }
  }
  #r > #an,
  #r > #ar {
    > path:empty {
      fill: variables.$link-color !important;
    }
  }
}

.topfooter svg.footer-small {
  display: none;
}

@media (max-width: 500px) {
  footer {
    height: variables.$footer-height-small;
    margin-top: -(variables.$footer-height-small);
  }
  footer .topfooter {
    height: variables.$footer-top-height-small;
  }
  footer .bottomfooter {
    height: variables.$footer-bottom-height-small;
  }
  .topfooter .github {
    margin-top: math.div(variables.$footer-top-height-small, 4);
  }
  .topfooter svg.footer-small {
    display: inline;
    margin-left: 5px;
  }
  .topfooter svg.footer-large {
    display: none;
  }
}

.topfooter .github {
  margin-top: math.div(variables.$footer-top-height, 4);
  width: variables.$footer-github-width;
  float: right;
}

.topfooter .github * {
  transition-duration: 0.1s;
  color: variables.$footer-text-color;
  text-decoration: none;
}

.topfooter .github:hover * {
  color: variables.$link-color;
}

.topfooter .github span {
  margin-left: 5px;
  margin-right: 5px;
  font-family: var(--gothic-stack);
  font-size: 0.9rem;
}

.topfooter .github a {
  color: variables.$footer-text-color;
}

.topfooter .github a:hover {
  color: variables.$link-color;
}
