@use "variables";

html {
  background-color: variables.$primary-background;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  font-family:
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    "Noto Sans",
    "Liberation Sans",
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: 1rem;
  color: variables.$text-color;
}

div {
  padding: 0;
  margin: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

p {
  margin-bottom: 1rem;
  margin-top: 0;
}

button {
  cursor: pointer;
  text-transform: none;
  -webkit-appearance: button;
  appearance: button;
  font-size: inherit;
  line-height: inherit;
  font-family: var(--gothic-stack);
  border: 1px solid #af0f5a;
  background-color: #090316;
  color: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 0 5px #af0f5a;
  transition: all 0.2s ease-in-out;
  width: 9rem;
  &:hover:not(:disabled) {
    background-color: #342061;
    box-shadow: 0 0 10px #af0f5a;
  }
  &:disabled {
    color: gray;
  }
}

button.button-no-style {
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  width: inherit;
  &:hover:not(:disabled) {
    background-color: inherit;
    box-shadow: inherit;
  }
  &:disabled {
    color: inherit;
  }
}

a {
  color: variables.$link-color;
  text-decoration: none;
  &:hover {
    color: variables.$link-color-hover;
    text-decoration: underline;
  }
}

ol,
ul {
  padding-left: 2.5rem;
}

a.link-no-style {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

a.link-unstyle {
  color: inherit;
  text-decoration: inherit;
}

hr {
  border: 0;
  height: 1px;
  background-color: variables.$hr-color;
  width: 100%;
  box-shadow: 0 0 5px variables.$hr-color;
  opacity: 1;
  margin: 1rem 0;
}

h1,
h2 {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--gothic-stack);
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}

div.main-wrapper {
  min-height: 100vh;
  padding-bottom: variables.$footer-height;
}

@media (max-width: 500px) {
  div.main-wrapper {
    padding-bottom: variables.$footer-height-small;
  }
}

.monospace {
  font-family: "Courier New", Courier, monospace;
}

.pre-wrap {
  white-space: pre-wrap;
}

small {
  font-size: 0.7rem;
  color: #e8e8e8da;
}

code {
  color: variables.$code-color;
  font-size: inherit;
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

img,
svg {
  vertical-align: middle;
}

pre {
  display: block;
  font-size: 0.875em;
  margin-bottom: 1rem;
  margin-top: 0;
  overflow: auto;
}

code {
  font-family:
    Courier New,
    Courier,
    monospace;
}

pre code {
  color: inherit;
  font-size: inherit;
  word-break: normal;
}
