a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

ol,
ul {
  padding-left: 2.5rem;
}

a.link-no-style {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

a.link-unstyle {
  color: inherit;
  text-decoration: inherit;
}

hr {
  border: 0;
  height: 1px;
  background-color: $hr-color;
  width: 100%;
  box-shadow: 0 0 5px $hr-color;
  opacity: 1;
}

h1,
h2 {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--gothic-stack);
  font-weight: bold;
}
h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}

div.main {
  min-height: 100vh;
  padding-bottom: $footer-height;
}

@media (max-width: 500px) {
  div.main {
    padding-bottom: $footer-height-small;
  }
}

.no-gutters {
  --bs-gutter-x: 0;
}

.monospace {
  font-family: "Courier New", Courier, monospace;
}

.pre-wrap {
  white-space: pre-wrap;
}

small {
  font-size: 0.7rem;
  color: #e8e8e8da;
}

code {
  color: $code-color;
  font-size: inherit;
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
}
