#site-navbar {
  background-color: $navbar-background;
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 1.2rem;
  border-bottom: 1px solid $navbar-border-color;
  box-shadow: 0 0 5px $navbar-border-color;
  min-height: $navbar-height;
  transition: background-color 0.1s, border-bottom-color 0.1s;
  transition-timing-function: linear, linear;
  font-family: "Courier New", Courier, monospace;
  .navbar-brand {
    padding: 0 15px;
    height: $navbar-height;
    line-height: $navbar-height;
    font-size: 1.5rem;
    font-weight: bold;
    color: $navbar-brand-color;
    .navbar-brand-small {
      height: 100%;
      display: none;
      svg {
        margin-top: 4px;
        vertical-align: baseline;
        #r > #an,
        #r > #ar {
          > path:empty {
            fill: $link-color !important;
          }
        }
      }
    }
  }
  .navbar-nav {
    .nav-item {
      margin-right: 15px;
      .nav-link {
        transition-duration: 0.1s;
        transition-property: color;
      }
      .active {
        font-weight: bold;
      }
    }
  }
  .navbar-toggle {
    margin-top: ($navbar-height - 34px) / 2;
    padding: 9px 10px !important;
  }
  @media (max-width: $bootstrap-sm) {
    &:not(.scrolled) {
      background-color: $navbar-background-scrolled;
      .nav-link {
        color: $navbar-text-color-scrolled-prehover !important;
      }
      .nav-link:hover,
      .nav-link.active {
        color: $navbar-text-color-scrolled !important;
      }
      .navbar-brand {
        color: $navbar-brand-color-scrolled;
      }
    }
  }
  @media (max-width: $bootstrap-sm) {
    .navbar-nav {
      .nav-item {
        span {
          padding-left: 10px;
        }
      }
    }
  }
  @media (max-width: 364px) {
    .navbar-brand {
      .navbar-brand-large {
        display: none;
      }
      .navbar-brand-small {
        display: block;
      }
    }
  }
}

#site-navbar.scrolled {
  background-color: $navbar-background-scrolled;
  border-bottom-color: $navbar-border-color-scrolled;
  box-shadow: none;
  .nav-link {
    color: $navbar-text-color-scrolled-prehover !important;
  }
  .nav-link:hover,
  .nav-link.active {
    color: $navbar-text-color-scrolled !important;
  }
  .navbar-brand {
    color: $navbar-brand-color-scrolled;
  }
}
