@use "sass:math";
@use "sass:color";

#site-navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1030;
  flex-wrap: nowrap;
  justify-content: flex-start;
  background-color: $navbar-background;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 32px;
  border-bottom: 1px solid $navbar-border-color;
  box-shadow: 0 0 5px $navbar-border-color;
  min-height: $navbar-height;
  transition: background-color 0.1s, border-bottom-color 0.1s;
  transition-timing-function: linear, linear;
  font-family: "Abaddon Light", "Courier New", Courier, monospace;
  font-smooth: never;
  -webkit-font-smoothing: none;
  align-items: center;
  justify-content: center;
  align-content: center;
  vertical-align: middle;
  .navbar-brand {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    user-select: none;
    margin-right: 16px;
    padding: 0 15px;
    height: $navbar-height;
    line-height: $navbar-height;
    font-size: 32px;
    font-weight: bold;
    color: $navbar-brand-color;
    text-shadow: 0 0 5px $navbar-brand-color;
    padding-top: 1px;
    .navbar-brand-terminal {
      animation: terminal 1.25s steps(1, end) infinite;
      margin-left: 0.25rem;
    }
    .navbar-brand-small {
      height: 100%;
      display: none;
      svg {
        margin-top: 4px;
        vertical-align: baseline;
        #r > #an,
        #r > #ar {
          > path:empty {
            fill: $link-color !important;
          }
        }
      }
    }
  }
  .navbar-nav {
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-start;
    flex-grow: 1;
    height: 100%;
    .navbar-items {
      align-items: center;
      min-height: 15px;
      width: 100%;
      margin: 0;
      padding: 0;
      height: 100%;
      flex-direction: row;
      line-height: $navbar-height;
      justify-content: flex-start;
      .nav-item {
        margin-right: 24px;
        height: $navbar-height;
        .nav-link {
          padding: 8px;
          padding-top: 4px;
          display: block;
          height: 100%;
          padding-bottom: 0;
          height: $navbar-height;
        }
      }
    }
  }
  .navbar-items {
    list-style: none;
    display: flex;
    .nav-item {
      a {
        text-decoration: none;
      }
      .nav-link {
        transition-duration: 0.1s;
        transition-property: color;
        padding-bottom: 0;
        color: $navbar-text-color;
        &:hover {
          color: $navbar-text-hover-color;
        }
        &.active {
          color: white;
          font-weight: bold;
        }
      }
    }
  }
  .navbar-items-mobile {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 4px;
    padding-left: 10px;
    gap: 8px;
  }
  .navbar-toggle {
    display: none;
    width: 60px;
    height: 40px;
    line-height: 20px;
    font-size: 24px;
    margin: 0;
    align-self: center;
    border-radius: 8px;
    padding: 4px 14px;
    margin-right: 8px;
    border: 1px solid #3d3d3d79;
    box-shadow: none;
    color: #7e7e7e;
  }
  @media (min-width: calc($bootstrap-md + 1px)) {
    .navbar-items-mobile {
      display: none !important;
    }
  }
  @media (max-width: $bootstrap-md) {
    .navbar-items-desktop .nav-item {
      display: none !important;
    }
    .navbar-toggle {
      display: block;
    }
    &:not(.scrolled) {
      background-color: $navbar-background-scrolled;
      .nav-link {
        color: $navbar-text-color-scrolled-prehover !important;
      }
      .nav-link:hover,
      .nav-link.active {
        color: $navbar-text-color-scrolled !important;
      }
      .navbar-brand {
        color: $navbar-brand-color-scrolled;
      }
    }
    .navbar-nav {
      .nav-item {
        span {
          padding-left: 10px;
        }
      }
    }
  }
  @media (max-width: 364px) {
    .navbar-brand {
      .navbar-brand-large {
        display: none;
      }
      .navbar-brand-small {
        display: block;
      }
    }
  }
}

#site-navbar.scrolled {
  background-color: $navbar-background-scrolled;
  border-bottom-color: $navbar-border-color-scrolled;
  box-shadow: none;
  .navbar-brand {
    text-shadow: 0 0 5px
      color.adjust($navbar-brand-color-scrolled, $lightness: -20%);
    .navbar-brand-terminal {
      animation: none;
      opacity: 0;
    }
  }
  .nav-link {
    color: $navbar-text-color-scrolled-prehover !important;
  }
  .nav-link:hover,
  .nav-link.active {
    color: $navbar-text-color-scrolled !important;
  }
  .navbar-brand {
    color: $navbar-brand-color-scrolled;
  }
}

@keyframes terminal {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
