// Body colors
$primary-background: black;

// Text colors
$text-color: #e8e8e8;
$link-color: #ff00dd; //#00ff00; //#007bff;
$code-color: #d63384;
$link-color-hover: #a200ff;
$link-color-glow: #ff00ddaa;
$link-color-active: #4000ff;
$hr-color: #ff00ddcc; //rgba(130, 130, 130, 0.75);
$text-color-half: #a1a1a1;
$box-border-color: #ff00dd75; //rgba(130, 130, 130, 0.25)
$box-border-color-hover: #ff00ddcc;

// Footer Colors
$footer-border-top-color: $hr-color;
$footer-background: #090909;
$footer-bottom-background: $footer-background;
$footer-text-color: #9b9b9b;

// Footer Sizing
$footer-top-height: 80px;
$footer-bottom-height: 40px;
$footer-top-height-small: 100px;
$footer-bottom-height-small: 40px;
$footer-height: $footer-top-height + $footer-bottom-height;
$footer-height-small: $footer-top-height-small + $footer-bottom-height-small;
$footer-github-width: 100px;

// Navbar
$navbar-background: #00000070;
$navbar-border-color: $hr-color;
$navbar-height: 56px;
$navbar-text-color: rgba(255, 255, 255, 0.55);
$navbar-text-hover-color: rgba(255, 255, 255, 0.75);
$navbar-background-scrolled: #000000c0;
$navbar-border-color-scrolled: transparent;
$navbar-text-color-scrolled: $text-color;
$navbar-text-color-scrolled-prehover: #9b9b9b;
$navbar-brand-color: $link-color; //#00ff00;
$navbar-brand-color-scrolled: $navbar-brand-color;

// Bootstrap
$bootstrap-sm: 768px;
$bootstrap-md: 992px;
$bootstrap-lg: 1200px;
