// Init
@import "variables";
// Assign bootstrap SCSS variables
@import "bootstrap-mappings";
// Get bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// Fonts

@font-face {
  font-family: "Abaddon Light";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("/fonts/Abaddon Light.woff2") format("woff2");
}

// Component styles
@import "layout";
@import "footer";
@import "navbar";
@import "components/blogListing";
@import "components/space";

// Per-page styles
#page-index,
#page-footer-index {
  @import "pages/index";
}
#page-blog,
#page-footer-blog,
#page-poems,
#page-footer-poems,
#page-art,
#page-footer-art {
  @import "pages/blog";
}
#page-blog-page,
#page-footer-blog-page {
  @import "pages/blog-page";
}
#page-space {
  #site-navbar:not(.scrolled) {
    background-color: #00000070;
  }
  @media (max-width: 500px) {
    .background-stars-wrapper {
      height: 100vh;
      max-height: 100vh;
    }
  }
}
