// Init
@import "variables";
// Assign bootstrap SCSS variables
@import "bootstrap-mappings";
// Get bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// Fonts
:root {
  --gothic-stack: "Century Gothic", "URW Gothic", system-ui, -apple-system,
    "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

// Component styles
@import "layout";
@import "footer";
@import "navbar";
@import "components/blogListing";
@import "components/dimmer";
@import "components/iconheader";
@import "components/modal";
@import "components/space";

// Per-page styles
#page-index,
#page-footer-index {
  @import "pages/index";
}
#page-blog,
#page-footer-blog,
#page-poems,
#page-footer-poems,
#page-art,
#page-footer-art {
  @import "pages/blog";
}
#page-blog-page,
#page-footer-blog-page {
  @import "pages/blog-page";
}
#page-space {
  main {
    min-height: calc(100vh - $navbar-height - $footer-height) !important;
    height: 100vh;
    .background-stars-wrapper {
      position: static; // return to normal layout
      height: 100% !important;
      max-height: 100vh !important;
    }
  }
}
